* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    border: 0;
}

header h1 {
    text-align: center;
}

header h2 {
    color: #57606f;
}

.item {
    border: 2px solid black;
    margin: 10px;
    width: 30%;
    max-width: 300px;
}

.item__main {
    height: 300px;
}

.item__img {
    height: 200px;
}


.item__button {
    position: relative;
    margin-bottom: 10px;
    max-height: 10%;
}

.item__buy-button {
    display: block;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid black;
    width: 150px;
    height: 40px;
}