* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fff;
}

img {
    width: 140px;
    height: auto;
}

header {
    height: 100vh;
    background-image: url("/resources/img/sarah-dorweiler-9Z1KRIfpBTM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px 20px;
}

.header__layer {
    background-color: rgba(223, 223, 209, 0.39);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 27vh;
}

.header__layer h1 {
    font-size: 350%;
    font-weight: 300;
}

.header__layer h2 {
    color: #718093;
    font-weight: 300;
}

.header__buttons {
    padding-top: 27px;
}

.header__buttons-main-button {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
    color: black;
    width: 200px;
    height: 40px;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: 1px black solid;
    position: relative;
    z-index: 0;
}

.header__buttons-main-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transition: .25s;
    z-index: -1;
}

.header__buttons-main-button:hover::before {
    width: 100%;
    left: 0;
    right: auto;
    color: white;
}

.header__buttons-main-button:hover {
    color: white;
    border: none;
}

section {
    padding-top: 100px;
}

.sale__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 20px;
    width: 95%;
    margin: 0 auto;
    max-width: 77%;
    margin: 0 auto 15px;
    line-height: 40px;
}


.sale__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin: 10px;
    width: 30%;
    max-width: 280px;
    min-width: 250px;
    background-color: #f1f2f6;
}

.item__title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #2f3542;
    color: #fff;
    height: 45px;
}

.item__title p {
    padding-top: 10px;
}

.item__img {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.border-top {
    border-top: 1px solid black;
    width: 87%;
    margin: 0 auto;
}

.item__info {
    padding: 10px 20px 10px;
    min-height: 130px;
}

.item__info .price {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.item__info .bio {
    font-family: 'Quicksand', sans-serif;
    padding-top: 15px;
}

.item__button {
    padding-bottom: 17px;
}

.item__buy-button a {
    text-decoration: none;
    color: black;
    width: 150px;
    height: 40px;
    display: block;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    transition: all 0.3s;
}

.item__buy-button a:hover {
    background-color: black;
    color: white;
}


.thumbnail__title {
    text-align: center;
    width: 50%;
    margin: 0 auto 50px;
}


.thumbnail__title p{
    font-family: "Montserrat", "sans-serif";
    font-size: 30px;
    font-weight: 700;
}

.thumbnail__title-button {
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    text-decoration: none;
}

.thumbnail-container {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.thumbnail-container .img-container {
    min-width: 300px;
    height: 300px;
    width: 300px;
    margin: 0 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.thumbnail-container::-webkit-scrollbar {
    background-color: #fff;
}

.thumbnail-container::-webkit-scrollbar:start {
    height: 50px; width:30%;
}

.thumbnail-container::-webkit-scrollbar:end {
    height: 50px; width:30%;
}

.thumbnail-container::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #000000;
}


.thumbnail-container::-webkit-scrollbar-corner {
    display: none;
    height: 0px;
    width: 0px;
}


