.cta-button {
    display: inline-block;
    background: white;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 90%;
    margin-bottom: 25px;
    color: initial;
    text-decoration: none;
    transition: all .3s;
}

.cta-button:hover {
    text-decoration: none;
    color: initial;
    transform: scale(1.15);
}

.cta-button:active {
    transform: scale(1.07);
}

.title-1 {
    font-family: 'Amatic SC', cursive;
    font-size: calc(100px + (26 - 14) * ((100vw - 300px) / (1200 - 300)));
    text-align: center;
}

/* note============================== */
.note-paper {
    display: inline-block;
    width: 300px;
    margin-top: 11px;
    margin-left: 11px;
}

.note-paper .header-note{
    width: 100%;
    height: 38px;
}

.note-paper .body-note {
    padding: 20px 15px 45px;
}

.note-paper .title-note {
    display: inline;
    font-family: 'Amatic SC', cursive;
    font-size: 170%;
    font-weight: bold;
}

.note-paper .content-note {
    font-family: 'Mali', cursive;
}

/* note-color */

.yellow-note .header-note {
    background-color: #f39c12;
}

.yellow-note .body-note {
    background-color: #f1c40f;
}


.green-note .header-note {
    background-color: #00b894;
}

.green-note .body-note {
    background-color: #55efc4;
}


.pink-note .header-note {
    background-color: #e84393;
}

.pink-note .body-note {
    background-color: #fd79a8;
}


.blue-note .header-note {
    background-color: #0984e3;
}

.blue-note .body-note {
    background-color: #74b9ff;
}

/* paper */
.paper {
    box-sizing: border-box;
    background-color :#f5f5f5;
    width: 600px;
    padding-top: 10px;
    display: inline-block;
    border: 1px solid #000;
}

.list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
    /* clear: both; */
}

.list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    display: block;
}

.list li:hover {
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
}

.lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 300px;
    margin-left: 40px;
}